:root {
  --primary-background-color: #fff;
  --hero-background-color: #e2f2ff;
  --accent-color: #5d78ff;
  --hero-text-color: #001e41;
  --nav-text-color: #7d7d7d;
  --card-background-color: #f8f8fa;
  --modal-backdrop-color: rgba(0, 0, 0, 0.1);
}
